@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
body{
    background-color: #101010;
}
body, .container, .main, .header, .inputs{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 400px;
    height: 550px;
    margin: 30px auto;
    text-shadow: 2px 2px 2px rgba(0,0,0,8);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
    border: 3px solid #ffffff;
    border-radius: 3px;
}

@media only screen and (max-width: 500px) {
    .input-city{
        width: 250px !important;
    }
}
@media only screen and (max-height: 660px){
    .container{
        height: 95vmax !important;
    }
}


.main{
    width: 330px;
    height: 500px;
    justify-content: space-between;
    flex-direction: column;
}
.header{
    flex-direction: column;
}
input:focus{
    outline: 0;
}
.input-city{
    width: 285px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid rgba(30,97,231,1);
    text-indent: 5px;
    margin-bottom: 30px;
    font-size: 15px;
}
.title{
    margin-top: 30px;
    color: #fff;
}

.inputs{
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-3{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    background-color: #fff;
    border: 2px solid rgba(30,97,231,1);
    color: rgb(7, 42, 112);
    font-size: 18px;
    transition: 0.2s ease-in-out;
    margin-bottom: 30px;
    cursor: pointer;
    margin-left: 5px;
}
.display{
    margin-bottom: 0;
    width: 330px;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: #fff;
    background-color: #ffffff4f;
    border-radius: 20px;
    border: 2px solid #fff;
}
.display p{
    width: 330px;
    height: 50px;
    display: flex;
    align-items: center;
    text-indent: 7px;
    font-size: 18px;
    justify-content: left;
}


#descricao, #vento, #temp{
    display: flex;
    align-items: center;
}
#descricao svg{
    margin-bottom: 13px;
}
#descricao{
    margin-top: 13px;
}
#temp svg, #vento svg, #nome svg{
    margin-left: 15px;
}
#temp svg{
    margin-right: 3px;
}
#vento svg{
    margin-right: 6px;
}

#nome svg, #temp svg, #descricao svg, #vento svg{
    border-radius: 10px;
    width: 45px;
}
